<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Transpile path="">
    <Assembly name="../Audacia.Typescript.Transpiler.Examples/bin/Debug/netstandard2.0/Audacia.Typescript.Transpiler.Examples.dll" />
    <Assembly name="bin/Debug/netcoreapp2.0/Audacia.Typescript.Transpiler.dll" />
    <Assembly name="bin/Debug/netcoreapp2.0/Audacia.Typescript.dll">
      <Properties initialize="true"/>
      <Namespace name="Audacia.Typescript.Collections"/>
      <Namespace name="Audacia.Typescript"/>
    </Assembly>
  </Transpile>
</Settings>