<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Output path="Audacia.Typescript.Transpiler.ts">
    <Input name="bin/Debug/netcoreapp2.0/Audacia.Typescript.Transpiler.dll">
      <Namespace name="Audacia.Typescript.Transpiler"/>
      <Namespace name="Audacia.Typescript.Transpiler.Mappings"/>
    </Input>
  </Output>
  <Output path="Audacia.Typescript.ts">
    <Input name="bin/Debug/netcoreapp2.0/Audacia.Typescript.dll" />
  </Output>
</Settings>
